<!DOCTYPE html>
<html lang="zxx">

    <head>
        <title>Health Monitoring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <meta name="keywords" content="Directory Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
              SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- Custom Theme files -->
        <link href="static/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all">
        <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
        <!-- timeline -->
        <link href="static/css/timeline.css" type="text/css" rel="stylesheet" media="all">
        <!-- font-awesome icons -->
        <link href="static/css/font-awesome.min.css" rel="stylesheet">
        <!-- //Custom Theme files -->
        <!-- online-fonts -->
        <link href="//fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
    </head>

    <body>
        <!-- header -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <h1><a class="navbar-brand" href="/">
                            <span>H</span>Health Monitoring
                        </a></h1>
                    <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: -5%;">
                        <ul class="navbar-nav text-center mx-auto">
                            <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3"  style="margin-left: 25em">
                                <a class="hover-fill" href="/" data-txthover="Home">Home</a>
                            </li>
                            <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a class="hover-fill" href="/admin" data-txthover="Admin Login">Admin Login</a>
                            </li>
                            <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a class="hover-fill" href="/doctor" data-txthover="Doctor Login">Doctor Login</a>
                            </li>
                                <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a class="hover-fill" href="/user" data-txthover="Patient Login">Patient Login</a>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
        </header>
        <div class="inner-banner-w3ls d-flex align-items-center text-center">
            <div class="container">
                <h6 class="agileinfo-title">Admin Login</h6>
                <ul class="breadcrumb-parent d-flex justify-content-center">
                    <li class="breadcrumb-nav">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-nav active  text-capitalize" aria-current="page">Admin</li>
                </ul>
            </div>
        </div>
        <section class="about-w3pvt-bot sec-space position-relative clip-wthree_bot" id="contact-form">
            <div class="container">
                <div class="about-row row">
                    <div class="col-md-3"></div>
                    <!-- <h1>Add Category</h1>-->
                    <div class="col-md-6" style="background: white;padding: 4em">

                        <!-- register form grid -->
                        <div class="register-top1">
                            <form action="/Adminlogin" method="post" onsubmit="return CheckValidation()"  class="register-wthree">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <label>
                                                User name
                                            </label>
                                            <input class="form-control" style="margin-bottom: 1rem"  type="text" placeholder="User Name" name="name" id="name" >
                                        </div>
                                        <div class="col-md-12">
                                            <label>
                                                Password
                                            </label>
                                            <input class="form-control" style="margin-bottom: 1rem"  type="password" placeholder="Password" name="pswd" id="pswd" >
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <button type="button" onclick="CheckValidation()" class="btn btn-agile btn-block w-100 font-weight-bold text-uppercase">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--  //register form grid ends here -->
                        <!--                        <div class="border-pos-wthree border-exp"></div>-->

                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <h3 class="text-exp">Admin Login</h3>
        </section>
        <footer>
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center copy-right-wthree">
                    <h2><a class="navbar-brand text-center" href="/">
                            <span>H</span>Health Monitoring
                        </a></h2>
                    <div class="cpy-right text-center">
                        <p class="text-white">© 2022 Health Monitoring. All rights reserved | Design by
                            <a href="#" class="text-theme"> Health Monitoring.</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>


        <script src="static/js/jquery-2.2.3.min.js"></script>
        <!-- script for password match -->
        <script>

                                function CheckValidation() {
                                    var name = $("#name").val();
                                    var pswd = $("#pswd").val();
                                    if (name == "" || name == null) {
                                        alert("Please Enter name");
                                        $("#name").focus();
                                    } else if (pswd == "" || pswd == null) {
                                        alert("Please Enter password");
                                        $("#pswd").focus();
                                    } else {
                                    $.ajax({
                                        url: "/Adminlogin",
                                        type: 'POST',
                                        dataType: 'json',
                                        data: {name: name,pswd:pswd},
                                        success: function (data) {


                                        if(data=="1"){
                                        alert("Admin login sucessfully");
                                        window.location.href="/adminhome";
                                        }else{
                                        alert("Failed to login");
                                       window.location.href="/";
                                    }
                                    }

                            });

                                    }
                                }


        </script>
        <!-- script for password match -->

        <!-- //js -->
        <script src="static/js/move-top.js"></script>
        <script src="static/js/easing.js"></script>
        <script>
                                jQuery(document).ready(function ($) {
                                    $(".scroll").click(function (event) {
                                        event.preventDefault();

                                        $('html,body').animate({
                                            scrollTop: $(this.hash).offset().top
                                        }, 1000);
                                    });
                                });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script>
            $(document).ready(function () {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear'
                 };
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });


        </script>
        <script src="static/js/SmoothScroll.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>